# Environment secrets
.env

# Python Bytecode & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Node modules & build artifacts
node_modules/
dist/
build/

# Database files
*.db
*.sqlite3
